.btn-group{
	margin-top: 20px;
}
.btn-Light{
	background-color: white;
	color:black !important;
}
.btn {
	border: 1px solid white;
	color: white;
}
.btn:hover{
	color:black;
		border: 1px solid white;
		background-color: white;
}